
h1, h2, h3, h4, h5, h6, p {
    margin: 2px;
}

h4 {
    color: white;
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    color: white;
    margin-left: 210px;
    margin-top: 70px;
    margin-bottom: 15px;
}

.button1{
	display:inline-block;
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/assets/repo/cydia.png");
	background-size: 55px 55px;
	background-position:center;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	padding:10px;
	border-radius:30px;
	background-color:#8B4513;
	margin:10px;
	transition: all 0.2s ease-in-out;
}

.glow-button1:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #8b4513;
}

.button2{
	display:inline-block;
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/assets/repo/zebra.png");
	background-size: 55px 55px;
	background-position:center;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	padding:10px;
	border-radius:30px;
	background-color:#a8a7a7;
	margin:10px;
	transition: all 0.2s ease-in-out;
}

.glow-button2:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #a8a7a7;
}
.button3{
	display:inline-block;
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/assets/repo/sileo.png");
	background-size: 55px 55px;
	background-position:center;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	padding:10px;
	border-radius:30px;
	background-color:#7cd6e2;
	margin:10px;
	transition: all 0.2s ease-in-out;
}

.glow-button3:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #7cd6e2;
}

.button4{
	display:inline-block;
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/assets/repo/installer.png");
	background-size: 55px 55px;
	background-position:center;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	padding:10px;
	border-radius:30px;
	background-color:#5d94fc;
	margin:10px;
	transition: all 0.2s ease-in-out;
}

.glow-button4:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #5d94fc;
}

/* Theme Buttons */
.button5{
	display:inline-block;
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/Colourful13/img/CF13Banner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	height: 60px;
	width:201px;
	padding:10px;
	margin:10px;
	border-radius:20px;
	transition: all 0.2s ease-in-out;
	z-index: -2;
	border:0.1px solid black;
}

.glow-button5:hover {
	color: black;
	box-shadow: 2px 2px 15px 8px #953aa1;
	border:0.1px solid black;
}

.button6{
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/BnW13/img/BnW13Banner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	display:inline-block;
	height: 60px;
	width:201px;
	padding:10px;
	border-radius:20px;
	margin:10px;
	transition: all 0.2s ease-in-out;
	z-index: -2;
	border:0.1px solid black;
}

.glow-button6:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #7a7d7b;
	border:0.1px solid black;
}

/* Tweak Buttons */
.button7{
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/DBRemover/img/DBRBanner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	display:inline-block;
	height: 60px;
	width:201px;
	padding:10px;
	border-radius:20px;
	margin:10px;
	transition: all 0.2s ease-in-out;
	border:0.1px solid black;
}

.glow-button7:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #a13b3b;
	border:0.1px solid black;
}

.button8{
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/DBRemover13/img/DBR13Banner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	display:inline-block;
	height: 60px;
	width:201px;
	padding:10px;
	border-radius:20px;
	margin:10px;
	transition: all 0.2s ease-in-out;
	z-index: -2;
	border:0.1px solid black;
}

.glow-button8:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #4394ab;
	border:0.1px solid black;
}

.button9{
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/Kernbypass/img/KB_Banner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	display:inline-block;
	height: 60px;
	width:201px;
	padding:10px;
	border-radius:20px;
	margin:10px;
	transition: all 0.2s ease-in-out;
	z-index: -2;
	border:0.1px solid black;
}

.glow-button9:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #713ba1;
	border:0.1px solid black;
}

.button10{
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/Milkyway2/img/MW2_Banner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	display:inline-block;
	height: 60px;
	width:201px;
	padding:10px;
	border-radius:20px;
	margin:10px;
	transition: all 0.2s ease-in-out;
	z-index: -2;
	border:0.1px solid black;
}

.glow-button10:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #4958b8;
	border:0.1px solid black;
}

.button11{
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/FlyJB/img/FJB_Banner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	display:inline-block;
	height: 60px;
	width:201px;
	padding:10px;
	border-radius:20px;
	margin:10px;
	transition: all 0.2s ease-in-out;
	z-index: -2;
	border:0.1px solid black;
}

.glow-button11:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #d67c2d;
	border:0.1px solid black;
}

.button12{
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/MitsuhaInfinity/img/MIBanner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	display:inline-block;
	height: 60px;
	width:201px;
	padding:10px;
	margin:10px;
	border-radius:20px;
	transition: all 0.2s ease-in-out;
	z-index: -2;
	border:0.1px solid black;
}

.glow-button12:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #7f2c8a;
	border:0.1px solid black;
}

.button13{
	background-image: url("https://raw.githubusercontent.com/UGv1/repo/master/dep/TweaksManager/img/TWMBanner.png");
	background-size: 222px 90px;
	background-position:center;
	background-repeat: no-repeat;
	display:inline-block;
	height: 60px;
	width:201px;
	padding:10px;
	margin:10px;
	border-radius:20px;
	transition: all 0.2s ease-in-out;
	z-index: -2;
	border:0.1px solid black;
}


.glow-button13:hover {
	color: black;
	box-shadow: 0px 0px 15px 8px #5e2c8a;
	border:0.1px solid black;
}

.gap-10 { 
	width:100%; 
	height:10px; 
}

.gap-20 { 
	width:100%; 
	height:20px; 
}

.gap-30 { 
	width:100%; 
	height:30px; 
}

.gap-40 { 
	width:100%; 
	height:40px; 
}

.gap-50 { 
	width:100%; 
	height:50px; 
}

.gap-60 { 
	width:100%; 
	height:60px; 
}

.gap-70 { 
	width:100%; 
	height:70px; 
}

.gap-80 { 
	width:100%; 
	height:80px; 
}

.gap-90 { 
	width:100%; 
	height:90px; 
}

.gap-100 { 
	width:100%; 
	height:100px; 
}

hr {
		width:850px;
        height: 1.5px;
        background-color: #2d2d2d;
        border: none;
}

img {
    pointer-events: none;
}